/*
img {
  -webkit-box-shadow: 4px 4px 15px 1px rgba(54,54,54,0.3);
  -moz-box-shadow: 4px 4px 15px 1px rgba(54,54,54,0.3);
  box-shadow: 4px 4px 15px 1px rgba(54,54,54,0.3);
}
*/
.c3-axis {
  fill: #666;
}

.navicon.vis {
  left: 15px;
}

.navicon {
  left: -200px;
  top: 15px;
  position: fixed;
  transition: all 0.3s;

  width: 100px;
}

@media (max-width: 760px) {
  .navicon {
    position: inherit;
    padding-top: 10px;
  }
}

